/* body {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
} */

/* #nav-btns {
    margin: 20px;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@500&display=swap');

.bs-btn-group {
    margin: 20px;
}

.btn-group { 
    z-index: 9999;
    float: right;
}

#about-txt {
    font-size: 14px;
}

#txt-title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 600;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

/* #map {
    height: 100%;
} */

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

/* Hides tooltips on page load */
.leaflet-tooltip {
    visibility: hidden;
  }

/* customized tooltup for ugum watershed */
.leaflet-tooltip.watershed-tooltip {
    font-weight: 600;
    font-size: 12px;
    background: #FEFAE0;
    color: #4B3A07;
    opacity: 40%;
    border-radius: 30px;
    border: transparent;
    /* padding: 10px; */
}

.leaflet-tooltip-top.watershed-tooltip:before,
.leaflet-tooltip-bottom.watershed-tooltip:before,
.leaflet-tooltip-left.watershed-tooltip:before,
.leaflet-tooltip-right.watershed-tooltip:before {
    position: absolute;
    pointer-events: none;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* customized tooltup for usgs tooltips */
.leaflet-tooltip.usgs-stream-gages-tooltip {
    /* background: #ccff33; */
    font-weight: 600;
    font-size: 12px;
    color: #3D5200;
    opacity: 40%;
    border-radius: 30px;
    border: transparent;
    padding: 10px;
}